<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstproj">

    <application
        android:allowBackup="true"
        android:icon="@drawable/life"
        android:label="@string/app_name"
        android:roundIcon="@drawable/life"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".picnote.Detail" />
        <activity android:name=".picnote.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onclass.NewList"
            android:label="@string/title_activity_new_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onclass.test1"
            android:exported="true"
            android:label="test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".onclass.Config" />

        <activity
            android:name=".onclass.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>